#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
}

@media(min-width: 700px) {
  .movies-list {
    justify-content: flex-start;
  }
}