#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.movie-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movie-filters {
  display: inline-block;
  margin: 100px auto;
  justify-content: center;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
}

@media(min-width: 700px) {
  .movie-filters {
    display: flex;
    justify-content: space-evenly;
  }

  .movies-list {
    justify-content: flex-start;
  }
}