.pagination {
    padding: 0;
    display: flex;
    margin-top: 30px;
    gap: 20px;
    list-style-type: none;
    justify-content: center;
    align-items: center;

    &__item {
        font-weight: 600;
        background: #fff;
        cursor: pointer;
        transition: all 0.5s ease;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 50%;
        font-size: 12px;
        color: #121212;
        text-align: center;

        &:hover {
            color: #FFF;
            background: #121212;
        }

        &--active {
            color: #fff;
            background: rgb(59, 130, 246);
            width: 36px;
            height: 36px;
            line-height: 36px;

            &:hover {
                color: #00a8ff;
                background: #fff;
            }
        }
    }
}