.likes-ratio-bar {
    width: 100%;
    margin: 10px auto;

    &__likes {
        height: 5px;
        width: 50%;
        background: var(--green);
        float: left;
    }

    &__dislikes {
        height: 5px;
        width: 50%;
        background: var(--red-1);
        float: right;
    }

    &__bar {
        margin: 0 auto;
        width: 70%;
    }

    &__feedback {
        width: 60%;
        margin: 10px auto 0;
        display: flex;
        justify-content: space-between;

        &__icon {
            cursor: pointer;
            color: #d5d5d5;
        }
    }
}