.multi-select-dropdown {
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 220px;
    margin: 0;

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        border-radius: 4px;
        width: 100%;
        padding: 12px 24px;
        background-color: rgb(59 130 246);
        color: #FFF;

        &:focus {
            outline: none;
        }
    }

    .multi-select-dropdown__options {
        position: absolute;
        box-sizing: border-box;
        left: 0;
        width: 100%;
        list-style: none;
        padding-left: 0px;
        border: solid 1px #eee;
        padding: 5px 0px;

        &-default {
            display: none;
        }

        &-active {
            display: block;
        }
    }

    .multi-select-dropdown__title {
        color: #FFF;
    }

    .multi-select-dropdown__option {
        display: flex;
        align-items: center;
        padding: 6px 10px;
        background-color: #121212;
        ;
        cursor: pointer;

        &:hover {
            background-color: #eee;

            &>span {
                color: #121212;
                font-weight: 600;
            }
        }

        &-checkbox {
            margin-right: 6px;
        }
    }
}

@media(min-width: 400px) {
    .multi-select-dropdown {
        width: 300px;
    }
}

@media(min-width: 700px) {
    .multi-select-dropdown {
        margin-right: 20px;
    }
}