.movie-card {
    width: 190px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #121212;
    border-radius: 28px;
}